$backgroundBody: white;
$backgroundWrapper: #7a7a7a;
$borderBlocks: #eee7e7;
$paddingNavigation: 62px;
$paddingRightNavigationLI: 40px;
$logoMenuTextPaddingLeftRight: 70px;
$SearchMenuPaddingRight: 60px;
$contentHeaderPaddingTop: 45px;
$mainPaddingText: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  background-color: $backgroundBody;
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
    max-width: 1920px;
    width: 100vw;
    max-height: 940px;
    height: 100vh;
    background-color: $backgroundWrapper;
    margin: 0 auto;
    .header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-bottom: 1px solid $borderBlocks;
      // padding-top: $contentHeaderPaddingTop;
      nav {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
    }
    .header_logo {
      padding-left: $logoMenuTextPaddingLeftRight;
      padding-top: $contentHeaderPaddingTop;
    }
    .header_navigation ul {
      padding: 0 $paddingNavigation;
      text-align: center;
      list-style-type: none;
      padding-top: $contentHeaderPaddingTop;
    }

    .header_navigation ul li {
      display: inline;
      padding-right: $paddingRightNavigationLI;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .header_search-menu img {
      float: right;
      margin-right: $logoMenuTextPaddingLeftRight;
      margin-top: $contentHeaderPaddingTop;
      &:last-child {
        margin-right: $logoMenuTextPaddingLeftRight/2;
      }
      &:hover {
        background-color: red;
      }
    }

    .main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      :nth-child(2),
      :nth-child(5) {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
      div:nth-child(-n + 3) {
        border-bottom: 1px solid $borderBlocks;
      }
      div {
        h4 {
          margin-left: $logoMenuTextPaddingLeftRight;
          margin-top: $mainPaddingText;
        }
      }
    }
    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid $borderBlocks;
      :nth-child(2) {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
    }
  }
}
