$backgroundBody: 7a7a7a;
$backgroundWrapper: rgb(255, 164, 164);
$borderBlocks: #9e9d9d;
$backgroundMenu: rgb(214, 214, 214);
$paddingNavigation: 62px;
$paddingRightNavigationLI: 40px;
$logoMenuTextPaddingLeftRight: 9%;
$SearchMenuPaddingRight: 60px;
$contentHeaderPaddingTop: 45px;
$mainPaddingText: 100px;
$textColor: white;
$hoverColor: rgb(255, 134, 134);
$hoverColorOdd: blue;
$footerTextMarginTop: 190px;
$opacity: 0.3;
$mobileHeight: 240px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  background-color: $backgroundBody;
  color: $textColor;
  .h1 {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
    max-width: 1920px;
    width: 100vw;
    max-height: 940px;
    height: 100vh;
    margin: 0 auto;
    background-color: $backgroundWrapper;
    background-image: url("assets/img/pattern.jpg");
    background-size: 100% 100%;
    .menu-container {
      position: absolute;
      display: none;
      grid-template-rows: 24px 24px 1fr;
      justify-self: end;
      width: 33.3%;
      height: 100%;
      background: $backgroundMenu;
      color: black;
      .close-menu {
        width: 15%;
      }
    }
    .header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-bottom: 1px solid $borderBlocks;
      nav {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
    }
    .header_logo {
      padding-left: $logoMenuTextPaddingLeftRight;
      padding-top: $contentHeaderPaddingTop;
    }
    .header_navigation ul {
      padding: $contentHeaderPaddingTop $paddingNavigation;
      text-align: center;
      list-style-type: none;

      @media (max-width: 1860px) {
        padding: $contentHeaderPaddingTop $paddingNavigation/4;
      }
      @media (max-width: 900px) {
        display: none;
      }
    }

    .header_navigation ul li {
      display: inline;
      padding-right: $paddingRightNavigationLI;
      a {
        color: $textColor;
        text-decoration: none;
        &:hover {
          color: $hoverColor;
        }
      }
      &:last-child {
        padding-right: 0;
      }
      @media (max-width: 1600px) {
        padding-right: $paddingRightNavigationLI/2;
      }
      @media (max-width: 1400px) {
        font-size: 12px;
      }
      @media (max-width: 1200px) {
        padding-right: $paddingRightNavigationLI/3;
      }
      @media (max-width: 1024px) {
        font-size: 10px;
      }
    }

    .header_search-menu img {
      float: right;
      margin-right: $logoMenuTextPaddingLeftRight;
      margin-top: $contentHeaderPaddingTop;
      &:last-child {
        margin-right: $logoMenuTextPaddingLeftRight/2;
      }
      &:hover {
        background-color: $hoverColor;
      }
    }

    .header_mobile {
      display: none;
    }

    .main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      :nth-child(2),
      :nth-child(5) {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
      div:nth-child(-n + 3) {
        border-bottom: 1px solid $borderBlocks;
      }
      div:nth-child(even):hover {
        background-color: $hoverColor;
        opacity: $opacity;
      }
      div:nth-child(odd):hover {
        background-color: $hoverColorOdd;
        opacity: $opacity;
      }
      div {
        h3 {
          margin-left: $logoMenuTextPaddingLeftRight;
          margin-top: $mainPaddingText;
          @media (max-width: 840px) {
            font-size: 12px;
          }
          @media (max-width: 740px) {
            text-align: center;
            margin-left: 0;
          }
        }
      }
    }
    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid $borderBlocks;
      :nth-child(2) {
        border-left: 1px solid $borderBlocks;
        border-right: 1px solid $borderBlocks;
      }
      div p {
        opacity: 0.3;
        margin-top: $footerTextMarginTop;
        margin-left: $logoMenuTextPaddingLeftRight;
        @media (max-width: 740px) {
          margin-left: $logoMenuTextPaddingLeftRight/3;
          font-size: 10px;
        }
      }
      & div:last-child p {
        float: right;
        margin-right: $logoMenuTextPaddingLeftRight;
        @media (max-width: 740px) {
          margin-right: $logoMenuTextPaddingLeftRight/3;
        }
      }
      .footer-mobile div {
        display: none;
      }
    }
    @media (max-width: 320px) {
      grid-template-columns: 1fr;
      grid-template-rows: $mobileHeight ($mobileHeight * 6) $mobileHeight;
      background-image: none;
      background-color: white;
      max-height: 100%;
      max-width: 100vw;
      width: 100%;
      .header {
        grid-template-columns: 1fr;
        background-image: url("assets/img/pattern.jpg");
        background-size: 100% 100%;
      }
      .header div,
      .header nav {
        display: none;
      }
      .header div:last-child {
        display: block;
        position: relative;
        img {
          position: absolute;
          &:hover {
            background-color: $hoverColor;
          }
        }
        img:nth-child(2) {
          right: 0;
        }
        img:last-child {
          bottom: 0;
          display: block;
          left: 50%;
          margin-left: -28px;
        }
      }
      .main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, $mobileHeight);
        // display: none;
        div:nth-child(-n + 6) {
          border: none;
        }
        div:nth-child(odd) {
          background-color: rgb(116, 116, 255);
        }
        div:nth-child(even) {
          background-color: rgb(255, 116, 116);
        }
      }
      .footer {
        grid-template-columns: 1fr;
        border: 1px solid $borderBlocks;
        :nth-child(2) {
          border: none;
        }
        div:first-child,
        div:last-child {
          display: none;
        }
        .footer-mobile {
          grid-template-rows: repeat(2, 1fr);
          color: black;
        }
        .footer-mobile div {
          display: grid;
          height: $mobileHeight/2;
        }
        .footer-mobile div p {
          margin: auto auto;
          padding: 0;
          opacity: 0.8;
          &:hover {
            opacity: 1;
          }
        }
        .footer-mobile div a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  @media (max-width: 320px) {
    .h1 {
      display: none;
    }
  }
}
